.contacts-content-wrap {
    display: flex;
    flex-direction: column;
    top: 0;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    align-items: center;

}
.message-block-wrap {
    width: 80%;
    max-width: 1000px;
    top: 0;
    margin: 0;
}
.heading-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: gray;
    opacity: 0.7;
    color: beige;
    font-weight: bold;
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.heading-h2 {
    margin-left: 10px;
    text-transform: uppercase;
}
@media screen and (max-width: 326px) {
    .heading-h2 {
      display: none;
    }
  }
  .heading-h3 {
    margin-left: 10px;
    text-transform: uppercase;
}
@media screen and (min-width: 326px) {
    .heading-h3 {
      display: none;
    }
  } 
textarea {
    width: 100%;
    font-style: italic;
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #f5f5dca1;
}
.send-message {
    height: 40px;
}
.also-follow-us-wrap {
    width: 300px;
    max-width: 90%;
    margin-top: 20px;
   }
.also-follow-us-text-wrap {
    width: 100%;
    margin: 0;
}
.also-follow-us-text-h3 {
    margin-left: 10px;
    margin: 16px;
}
@media screen and (max-width: 247px) {
    .also-follow-us-text-h3 {
      display: none;
    }
  }
  .also-follow-us-text-h4 {
    margin-left: 10px;
    margin: 16px;
}
@media screen and (min-width: 248px) {
    .also-follow-us-text-h4 {
      display: none;
    }
  } 
.follow-icons-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.follow-icon {
    height: 40px;
    width: 40px;
    margin: 10px;
}
@media screen and (max-width: 248px) {
    .follow-icon {
        height: 30px;
        width: 30px;
    }
  } 