body {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
}
.menu-bar-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
    }
  @media screen and (min-width: 691px) {
    .menu-bar-wrap {
       display: none;
     }
  }
    .hamburger {
    height: 100%;
    width: 70px;
  }
.onclick-menu-wrap {
  width: 100%;
  max-width: 350px;
  right: 0;
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  top: 0;
}
.onclick-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  right: 0px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
@media screen and (min-width: 690px) {
  .onclick-menu {
    display: none;
  }
} 
.hide-onclick {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  padding: 12px;
  margin: 12px;
  box-sizing: border-box;
}
.hide-onclick-menu {
  height: 50px;
  width: 50px;
  padding: 0;
}
.onclick-menu-button{
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.close-image {
  height: 100%;
  width: 100%;
}
#mobile-nav-element {
  border: none;
  background-color: beige;
  opacity: 0.9;
  z-index: 9;
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}
.navigation-bar-wrap {
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
  z-index: 5;
  }
@media screen and (max-width: 998px) {
  .navigation-bar-wrap {
    height: 70px;
  }
} 
@media screen and (max-width: 860px) {
   .navigation-bar-wrap {
      font-size: 16px;
    }
}
.navigation-bar {
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  }
.nav-bar-left {
  width: 20%;
  }
.nav-button-main {
  width: 100%;
    }
@media screen and (max-width: 690px) {
  .nav-button-main {
     font-size: 20px;
   }
}
.nav-bar-center {
  width: 30%;
}
.nav-bar-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  }
@media screen and (max-width: 860px) {
  .nav-bar-left  {
    width: 20%;
  }
  .nav-bar-center {
      width: 5%;
     }
    .nav-bar-right{
     width: 75%;
    }
}
@media screen and (max-width: 690px) {
  .nav-bar-left  {
    width: 40%;
  }
  .nav-bar-center {
      width: 10%;
     }
    .nav-bar-right{
     width: 50%;
    }
}
.nav-button {
  width: 100%;
  padding: 5px;
  }
@media screen and (max-width: 690px) {
  .nav-button {
     display: none;
   }
}
#nav-element {
  color: beige;
  background-color: black;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  text-align: center;
  height: 100%;
}
.page-content-wrap{
  margin: 0;
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  width: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
}
 .footer-wrap {
  background-color: rgb(97, 96, 96);
  opacity: 0.8;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
