.banner {
    width: 90%;
    max-width: 800px;
}
.heading-wrap {
    width: 100%;
}
.heading-h3 {
margin-bottom: 0px;
padding: 10px;
}
@media screen and (max-width: 345px) {
    .heading-h3 {
      display: none;
    }
  }
.heading-h4 {
        margin-bottom: 0px;
        padding: 10px;
}
  @media screen and (min-width: 346px) {
    .heading-h4 {
      display: none;
    }
  } 
img{
    width: 100%;
}
.return-wrap {
    width: 100%;
}
.return {
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}